@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" mt-5">
    <p class="display-1">Welcome to PKR Travels</p>
</div>

<div class="m-5 p-2 bg-secondary text-center text-white">
    <p class="display-6">Show Booking List : <a asp-action="ShowList" class="btn btn-light btn-lg">List</a></p>
    <p class="display-6">Add New Booking : <a asp-action="AddResult" class="btn btn-light btn-lg">Add</a></p>
</div>