@model FootballProject.Models.FootBallLeague

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FootBallLeague</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MatchId" />
            <div class="form-group">
                <label asp-for="TeamName1" class="control-label"></label>
                <input asp-for="TeamName1" class="form-control" />
                <span asp-validation-for="TeamName1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamName2" class="control-label"></label>
                <input asp-for="TeamName2" class="form-control" />
                <span asp-validation-for="TeamName2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WinningTeam" class="control-label"></label>
                <input asp-for="WinningTeam" class="form-control" />
                <span asp-validation-for="WinningTeam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Points" class="control-label"></label>
                <input asp-for="Points" class="form-control" />
                <span asp-validation-for="Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
